* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4c4c4;
}

.App {
    max-width: 466px;
    margin: 0 auto;
    background-color: #fff;
    padding: 14px;
}

input {
    margin-right: 7px;
    padding: 0 7px;
    height: 33px;
}

.inputSelector button {
    padding: 7px;
    min-width: 50px;
}

.inputSelector h1 {
    margin-bottom: 14px;
}

.inputSelector {
    margin-bottom: 10.5px;
}

.inputSelector .inputSelector__p {
    margin-bottom: 7px;
}

.listOfDebtors {
    display: flex;
    margin-bottom: 7px;
    align-items: center;
    justify-content: space-between;
}

.listOfDebtors li {
    list-style-type: none;
    padding-right: 7px;
}

.listOfDebtors button {
    padding: 5px;
    min-width: 30px;
}
.buttons button {
    padding: 5px;
    margin-right: 7px;
    min-width: 50px;
}

